body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('cursor1.png'), auto !important;
  background-color: #FFD4FF;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff006a79;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #f0408c;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

nav a {
  position: fixed;
  top: 1em;
  right: 1em;
  color: rgb(	29, 161, 242);
  cursor: url('cursor1.png'), auto !important;
  box-shadow: 2px 3px 5px #000;
  border-radius: 50%;
  padding: 10px;
}

nav a i{
  font-size: 2em;
}

.preload-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0; */
  z-index: 2;
}

.preload-wrap img{
  width: 200px;
  animation-name: scale;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate-reverse;
  /* opacity: 0; */
  z-index: 2;
}

.home{
  height: 100vh;
  width: 100%;
  position: relative;
}

.home video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.home .bgmap{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  opacity: 0 !important;
}

.main{
  position: relative;
}

.main video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.main .bgmap{
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #0000008c;
}

.popup .content {
  position: relative;
  background-color: #fff;
  max-width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.popup .content-animate{
  animation-name: pop;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.popup .content p {
  font-size: 20px;
  color: #000;
  margin-top: 2em;
}

.popup i{
  font-size: 1.5em;
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
}


@keyframes pop {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes scale {
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}
